body {
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form button {
  margin-left: 10px;
  line-height: 2.5rem;
  margin-top: 7px;
}

.stack {
  max-width: 550px;
  padding: 25px;
  margin: 5rem auto 5rem auto;
  text-align: center;
  border: 2px solid #1976d2;
  border-radius: 20px;
}

.checked-text{
  text-decoration: line-through;
}
